* {
    box-sizing: border-box;
    margin: 0;
}
:root {
    --main-color: #eeeeee;
    --item-color: #0075ff;
}
body {
    font-family: Arial, sans-serif;
}
p {
    font-size: 20px;
    line-height: 2;
}
::-webkit-scrollbar {
    width: 15px;
}
/*hole bar background-color*/
::-webkit-scrollbar-track {
    background-color:var(--main-color);
    box-shadow: 0 0 10px #ddd inset;
}
/*scroll bar color*/
::-webkit-scrollbar-thumb {
    background-color: #0011ff3a;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--item-color);
}
::-webkit-scrollbar-corner {
    background-color: red;
}